
#container{
    display: grid;
    grid-template-rows: 30% 1fr 10%;
    grid-template-columns: 15% 1fr 15%;

    grid-template-areas: 
      "header-area header-area header-area"
      "left-area app-area right-area"
      "footer-area footer-area footer-area";
}

#header {
    grid-area: header-area
}
#left {
    grid-area: left-area
}
#app {
    grid-area: app-area
}
#right {
    grid-area: right-area
}
#footer {
    grid-area: footer-area
}